EXPO_PUBLIC_API_BASE_URL=http://localhost:8082/api/v1
EXPO_PUBLIC_FILE_SERVICE_URL=https://go-file-service-production.up.railway.app
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_USE_MOCKS=false
EXPO_PUBLIC_PAYSTACK_CALLBACK_URL=https://app.ohlify.com/payment/return
EXPO_PUBLIC_CALL_APP_URL=http://localhost:5173
